@{
    Layout = "_LayoutBackOffice";
}


<main id="main" class="main">
<div class="pagetitle">
    <h1>Tableau de bord</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Statistique</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">

<canvas id="barChart" style="max-height: 400px;"></canvas>
<div id="pieChart"></div>

</section>
</main><!-- End #main -->

<!-- Bar Chart -->
<script>
document.addEventListener("DOMContentLoaded", () => {
    new Chart(document.querySelector('#barChart'), {
    type: 'bar',
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July','August','September','October','November','December'],
        datasets: [{
        label: 'Bar Chart',
        data: [65, 59, 80, 80, 56, 55, 40],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
        ],
        borderWidth: 5
        }]
    },
    options: {
        scales: {
        y: {
            beginAtZero: true
        }
        }
    }
    });
});
</script>
<!-- End Bar CHart -->

<!-- Pie Chart -->
<script>
document.addEventListener("DOMContentLoaded", () => {
    new ApexCharts(document.querySelector("#pieChart"), {
    series: [15,26 ,28 ,24 ,90 ],
    chart: {
        height: 350,
        type: 'pie',
        toolbar: {
        show: true
        }
    },
    labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E']
    }).render();
});
</script>
<!-- End Pie Chart -->
